<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        {{ user:isnt role="admin" && environment=="production" }}
            <!-- Fathom - beautiful, simple website analytics -->
            <script src="https://cdn.usefathom.com/script.js" data-site="QXGRGVJV" defer></script>
            <!-- / Fathom -->
        {{ /user:isnt }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial:seo }}
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" data-turbolinks-track="reload">
        <link rel="stylesheet" href="/css/plyr.css">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ podcast:title }}" href="{{ route:feed }}" />
        <script src="{{ mix src='/js/site.js' }}" data-turbolinks-track="reload" defer></script>
        <style>
            :root {
                --primary-color: {{ theme:primary_color ?? "#FA7268" }};
                --secondary-color: {{ theme:secondary_color ?? "#C62368" }};
                --plyr-color-main: {{ theme:primary_color ?? "#C62368" }};
            }
        </style>
        <script>
            window.primaryColor = '{{ theme:primary_color ?? "#FA7268" }}';
            window.secondaryColor = '{{ theme:secondary_color ?? "#C62368" }}';
        </script>
        {{ partial:favicons }}
    </head>
    <body class="relative h-full min-h-screen bg-white">
        {{ partial:nav }}
        {{ template_content }}
        {{ partial:player }}
        {{ partial:footer }}
        {{# {{ svg src="img/waves-vertical" class="h-full min-h-full absolute top-0 right-0 bottom-0 hidden md:block md:w-[1000px]" }} #}}
    </body>
</html>
