<div class="relative z-10 max-w-6xl px-6 mx-auto">
    <div class="flex items-center">
        <article class="flex-1 pt-16 pb-8 pr-32">
            <h1 class="mb-8">{{ title }}</h1>
            <div class="flex items-center mt-8 space-x-6">
                {{ links }}
                    <a href="{{ link }}">
                        <img class="h-10 transition duration-200 ease-in-out filter transform-gpu hover:drop-shadow-lg hover:-translate-y-1"
                            src="{{ badge }}"
                            alt="Listen on {{ title }}" />
                    </a>
                {{ /links }}
            </div>
        </article>
    </div>
</div>
