<div class="relative z-10 max-w-6xl px-6 mx-auto">
    <div class="flex flex-col md:flex-row">
        <article class="flex-1 order-2 pt-16 pb-8 md:order-first md:pr-32">
            <h1 class="mb-8">{{ title }}</h1>
            {{ collection:episodes sort="date:{podcast:type}" }}
                {{ partial:episodes/card }}
            {{ /collection:episodes }}
        </article>
        <div class="order-1 md:w-[350px]">
            <div class="flex items-center mt-8 md:hidden">
                <img src="{{ glide:podcast:cover_art square="120" }}" alt="{{ podcast:title }} Cover Artwork" width="60" class="shadow">
                <h2 class="ml-4 text-lg font-semibold">{{ podcast:title }}</h2>

            </div>
        </div>
    </div>
</div>
