<div class="container px-6 mx-auto lg:px-32 xl:px-64">
{{ if display == "horizontal" }}
    {{ card_sets }}
      <div class="font-brand flex-wrap md:flex md:px-4 mb-16 w-full{{ if background_colour }} bg-{{background_colour}}{{ /if }} default">
        <div class="w-full mx-auto text-2xl font-black text-white md:w-1/3 md:pr-8">
            <img src="{{ image }}" class="w-full">
        </div>
        <div class="w-full px-6 card md:w-2/3 md:px-0">
            {{ if link }}
                <a href="{{ link }}"><h4 class="mt-8 text-2xl font-bold md:mt-0">{{ title }}</h4></a>
            {{ else }}
                <h4 class="mt-8 text-2xl font-bold md:mt-0">{{ title }}</h4>
            {{ /if }}
          {{ if subtitle }}<div class="mb-4 text-2xl text-left">{{ subtitle }}</div>{{ /if }}
          <div class="text-base text-left text-gray-700">
            {{ teaser | nl2br }}
          </div>
        {{  if button_text }}
        <div class="my-8 text-left">
            <a class="button-primary" href="{{ button_url }}">{{ button_text }}</a>
        </div>
        {{  /if }}
        {{  if buttons }}
            <div class="mt-6">
                {{  buttons }}
                    <div class="inline my-8 text-left">
                        <a class="inline-block my-2 button-primary" href="{{ button_link }}">{{ button_text }}</a>
                    </div>
                {{  /buttons }}
            </div>
        {{ /if }}

        </div>
      </div>
    {{ /card_sets }}
{{ else }}
    <div class="mt-12 w-full md:grid md:gap-5 md:grid-cols-{{ cards_per_row }} ">
      {{ card_sets }}
        <div class="flex flex-col overflow-hidden mb-8 bg-brand-reallylightgray {{ if card_sets | count == 1 }}col-start-2{{  /if }}">
          {{ if image }}
            <div class="flex-shrink-0 px-4 pt-4">
                {{ if link }}
                <a href="{{ link }}"> <img {{ if highlight_color }}style="border-color: {{  highlight_color }}" {{ /if }}
                    class="shadow-2xl mx-auto {{ if highlight_color }}border-solid border-8 p-4{{ /if }} w-100 h-100"
                    src="{{ glide:image   fit='crop_focal' }}" alt="{{ title }}"></a>
                {{ else }}
                <img {{ if highlight_color }}style="border-color: {{  highlight_color }}" {{ /if }}
                class="shadow-2xl mx-auto {{ if highlight_color }}border-solid border-8 p-4{{ /if }} w-100 h-100"
                src="{{ glide:image   fit='crop_focal' }}" alt="{{ title }}">
                {{ /if }}
            </div>
          {{ /if }}
          <div class="flex flex-col justify-between flex-1 px-6 pt-4">
            <div class="flex-1">
              {{ if title }}
                {{ if link }}
                  <a {{ if highlight_color }}style="color: {{  highlight_color }}" {{ /if }} class="font-brand" href="{{ link }}">
                    <h4 class="text-3xl font-bold text-brand-androidgreen">{{ title }}</h4>
                  </a>
                {{ else }}
                  <h4 class="mt-4 text-3xl font-bold text-brand-androidgreen">{{ title }}</h4>
                {{ /if }}
              {{ /if }}
              {{ if subtitle }}
                <h5 class="my-2 text-xl font-bold">{{ subtitle }}</h5>
              {{ /if }}
              {{ if teaser }}
                <p class="mt-2 mt-3 text-base text-left text-gray-500">
                  {{ teaser }}
                </p>
              {{ /if }}
            </div>
            <div class="flex items-center my-6">
              {{  if buttons }}
                    <div class="mt-6">
                        {{  buttons }}
                            <div class="inline my-8 text-left">
                                <a class="inline-block my-2 button-primary" href="{{ button_link }}">{{ button_text }}</a>
                            </div>
                        {{  /buttons }}
                    </div>
              {{ /if }}
              {{ if button_text }}
                {{ if link }}
                <a {{ if highlight_color }}style="background-color: {{ highlight_color }}" {{ /if }}
                  class="mt-8 align-bottom absolute  {{ if !highlight_color }}button-primary{{ else }} hover:bg-brand-charcoal py-2 px-4 whitespace-no-wrap text-white font-black rounded-md{{ /if }}"
                  href="{{ link }}">{{ button_text }}</a>
                {{ else }}
                <span {{ if highlight_color }}style="background-color: {{  highlight_color }}" {{ /if }}>{{ button_text }}</span>
                {{ /if }}
              {{ /if }}
            </div>
          </div>
        </div>
      {{ /card_sets }}
    </div>
{{ /if }}
  </div>
