<div class="text-center mt-8 flex flex-wrap items-center" style="height: 500px; width: 100%; background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-image: url('{{ glide:image width='1280' height='500'  fit='crop_focal' }}');
	box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .2)
	">
	<div class="px-4 text-white w-full">
		<h3>{{ title }}</h3>
		{{ text | nl2br }}
		{{ if buttons }}
			<div class="my-16 text-center">
				{{ buttons }}
					<a class="bg-white px-4 py-2 mx-8 font-black block no-underline md:inline-block mb-4" href="{{ button_url }}">{{ button_text }}</a>
				{{ /buttons }}
			</div>
		{{ /if }}
	</div>
</div>