<div class="flex-wrap lg:flex my-16 w-full items-center bg-brand-greengray mb-0">
    <div class="hidden lg:block md:flex-none">
        <img src="/WistLeaf1shape.png">
    </div>
    <div class="hidden lg:block w-full md:flex-1 text-center" >
        <span class="w-full my-16 text-white font-headline text-2xl text-center font-bold">{{ text }}</span>
    </div>
    <div class="bloc lg:hidden w-full md:flex-1 text-center py-8 px-8" style="width: 100%;
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center;
                background-image:url('/WistLeaf1shape.png');
            ">
        <span class="w-full my-16 text-white font-headline text-2xl text-center font-bold">{{ text }}</span>
    </div>
    <div class="hidden lg:block flex-none">
        <img src="/WistLeaf2shape.png">
    </div>
</div>