<div class="container mx-auto">
    <div class="w-full pt-12">
      <div class="px-6">
        <div class="prose max-w-none lg:prose-xl prose-li:-my-4 prose-a:text-red-800
                    prose-h1:text-red-800
                    prose-h2:text-red-800
                    prose-h2:text-4xl
                    prose-h3:text-gray-400
                    prose-h3:text-2xl
                    prose-h3:mb-0
                    prose-headings:font-bold
                    prose-p:mb-6
                    {{ if {variable:dark} == "yes" }} prose-invert{{ /if }}">
            {{ text |nl2br }}
        </div>
      </div>
    </div>
  </div>
